@page
@model waterMeter.Pages.Apartments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Последние показания счётчиков</h2>

<p>
    <a asp-page="Create">Новая квартира</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Адрес квартиры
            </th>
            <th>
                Последние показания счётчика
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Apartments)
        {
            <tr>
                <td>
                    @Model.Address[item.Name]
                </td>
                <td>
                    @Model.ActualDatas[item.Meter.Id]
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Все показания</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Удалить квартиру</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
